{% extends "base.html" %}

{% block page_title %}ListOfFarm{% endblock page_title %}

{% block page_content %}

<h1>List of farm</h1>

{% for farm in farms  %}

<ul>
    <li>name : {{farm.name}}</li>
    <li>city : {{farm.city}}</li>
    <li>area : {{farm.area}}</li> 
    <a href="{% url 'farm:farmdetail' farm.pk %}">Detail</a>   
    <a href="{% url 'farm:farmupdate' farm.pk %}">Edit</a>
    <a href="{% url 'farm:farmdelete' farm.pk %}">Delete</a>      
    <hr>
</ul>

{% endfor %}

{% endblock page_content %}


